* {border: 0px solid #eee; margin: 0; padding: 0; list-style: none}
body {font-family: Arial, Helvetica, sans-serif; background:#000000; font-size: 10px; cursor: default; color: #eee;}
a {text-decoration: none; color: #fff;outline: 0}
form, input, select, textarea {margin: 0;padding: 0;color: #ffffff;}
div.box {margin: 0 auto;width: 350px;position: relative;top: 20px;color: #eeeeee;}
div.box small {color:#fff;font-size:9px;}
div.box small a {color:#eeeeee;font-size:9px;}
div.box a {color:#eeeeee;}
div.box h1 {color: #ffffff;font-size: 12px;text-transform: uppercase;padding: 5px 0 5px 5px;border-bottom: 1px solid #161712;border-top: 1px solid #161712;}
div.box label {width: 100%;display: block;padding: 5px 0 5px 0;}
div.box label span {display: block;color: #bbbbbb;font-size: 16px;float: left;width: 70px;text-align: right;}
div.box .input_text {padding: 2px 0 10px 0;width: 200px;background: #262626;border-bottom: 1px double #171717;border-top: 1px double #171717;border-left: 1px double #333333;border-right: 1px double #333333;}
div.box .message {padding: 7px 0 7px 0;width: 210px;background: #262626;border-bottom: 1px double #171717;border-top: 1px double #171717;border-left: 1px double #333333;border-right: 1px double #333333;overflow: hidden;height: 50px;}
div.box .button {align:right;width: 150px;background: #826c03;height: 30px;font-size: 15px;font-weight: bold;padding: 3px;}
#right {position: absolute;background: #000;opacity: 0.9; filter: alpha( opacity = 90);bottom:0;top:0;right:0;width:50%;}
#left {position: absolute;background: #000;opacity: 0.95;filter: alpha( opacity = 95);bottom:0;top:0;left:0;width:50%;}
#leftmsg {position: absolute; top: 50px;}
span#logo {color: #E6C702;height: 43px;padding: 20px 7px 0 7px;background: #000;font-size: 52px;}
#left h1 a {color: #ABA7A8;padding: 5px;font-weight: bold; font-size: 38px;}
#left h1 a:hover {color: #fff;padding: 5px;}
#left h2 {color: #eee;padding: 5px 20px 25px 20px;font-size: 28px;}
#right h2 {color: #eee;padding: 5px 20px 25px 20px;font-size: 28px;}
#menu {position: absolute;top: 0;left: 0;opacity: 0.8;filter: alpha( opacity = 80);height: 20px;}
#menu ul {list-style: none;margin: 0;padding: 5px 5px 0 5px;height: 20px;background: #1A1919;}
#menu ul li {display: inline;font-size: 10px;color: #E6C702; }
#menu ul li#status {display: inline;font-size: 10px;color: #EEE;font-weight: bold; }
#menu ul a {background: #1A1919;color: #ABA7A8;padding: 5px;font-weight: bold;}
#menu ul a:hover {background: #000;color: #fff;padding: 5px;height: 20px;}
#map {top:0;bottom:0;width:100%;height:100%;opacity: 0.7; filter: alpha( opacity = 70);}
.slide-right {position: absolute;right: 0;width: 200px; top:0;background: #000;opacity: 0.8;filter: alpha( opacity = 80);}
.slidelist{padding: 2px; font-size: 15px; font-weight:bold;}
.slidelist a{color:#E6C702;}
.slidelist a:hover {color:#ffffff;}
#copyrights {position: absolute; right: 5px; bottom: 5px;}
ul#grid li {background:#000000; list-style: none outside; float: left; padding: 5px; margin: 1px; text-align: center;}
ul#grid li img {vertical-align: middle;}